{{ include('partials/header.twig') }}

<div id="albums">
    <h2>Albums</h2>

    <div class="list row">
        {% for _album in albums %}
            <div class="col-sm-4">
               
                <a href="{{ url('album', {slug: _album.slug}) }}">
                    <div class="albumBox text-center">
                        <p>{{ _album.name }}</p>
                        <img src="assets/img/{{ _album.picture }}" alt="{{ _album.name }}">
                    </div>
                </a>
                
            </div>
        {% endfor %}
    </div>
</div>

{{ include('partials/footer.twig') }}