{{ include('partials/header.twig') }}

<div id="album">
    
    <div class="boxAlbum row">
       
        <div class="col-md-3 albumCol">
            <img src="../assets/img/{{ album.picture }}" alt="{{ album.name }}">
            <h2 class="text-center">{{ album.name }}</h2>
            <p class="text-center year">{{ album.year }}</p>
        </div>
        
        <div class="col-md-9 songCol">
            {% for song in album.songs %}
            <p class="songLine">
                <a href="{{song.2}}" target="_blank">
                    <span class="title">{{song.0}}</span>
                    <span class="time">{{song.1}}</span>
                </a>
            </p>
            
            {% endfor %}
        </div>
        
    </div>
</div>

{{ include('partials/footer.twig') }}