{{ include('partials/header.twig') }}

<h2>{{ album.name }}</h2>
<p>{{ album.year }}</p>
<img src="{{ album.picture }}" alt="" width="300">

<p>{{ album.songs|join(", ") }}</p>

{{ include('partials/footer.twig') }}