{{ include('partials/header.twig') }}

<div id="album">
    <h2>{{ album.name }}</h2>
    <p>{{ album.year }}</p>
    
    <div class="boxAlbum">
        <img src="../assets/img/{{ album.picture }}" alt="" width="300">

        {% for song in album.songs %}
        <a href="{{song.2}}">
            <p>
                <span>{{song.0}}</span>
                <span>{{song.1}}</span>
            </p>
        </a>
        {% endfor %}
    </div>
</div>

{{ include('partials/footer.twig') }}